@media only screen and (min-width: 510px) {

    body {
        background-color: hsl(212, 45%, 89%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }

    main {
        background-color: hsl(0, 0%, 100%);
        margin: 2px;
        padding: 2px;
        border-radius: 18px;
        width: 350px;
    }

    section {
        padding: 18px;
        margin: 5px;
        text-align: center;
    }

    main>section>img {
        width: 300px;
        border-radius: 15px;
    }

    main>section>h1 {
        font-family: 'Outfit', sans-serif;
        color: hsl(218, 44%, 22%);
        margin-top: 25px;
        text-align: center;
        font-size: 25px;

    }

    main>section>p {
        margin: 10px;
        font-family: 'Outfit', sans-serif;
        padding: 0px 5px;
        font-size: 17px;
        color: hsl(220, 15%, 55%);
    }
}